# Ignore local design folders
designs
3d-model
catalog

# config_app_dynamic - adding only a single version
config_app_dynamic/*
!config_app_dynamic/assets
!config_app_dynamic/concave-forging

config_app_dynamic/concave-forging/*
!config_app_dynamic/concave-forging/email-template
!config_app_dynamic/concave-forging/borgio-cf-6665.php
!config_app_dynamic/concave-forging/img

config_app_dynamic/concave-forging/img/*
!config_app_dynamic/concave-forging/img/borgio

# config_app_v2 - adding only a single version
config_app_v2/*

!config_app_v2/assets
!config_app_v2/img
!config_app_v2/cyrus-sf-6794.html

config_app_v2/img/*
!config_app_v2/img/CYRUS
