/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Raleway:wght@400;500;700;800;900&display=swap');

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/

:root {
   --theme-color: #D20303;
   --text-color: #AFAFAF;
   --heading-color: #151515;
   --gradient: linear-gradient(to top, #FF0000, #D20303);
   --black: #000000;
   --white: #ffffff;
   --hr-color: #cccccc;
}
* {
   padding: 0;
   margin: 0;
}
body,
html {
   position: relative;
   overflow-x: hidden;
}
body {
   font-family: 'Oswald', sans-serif;
   font-weight: normal;
   font-style: normal;
   color: var(--text-color);
   font-size: 18px;
   line-height: 1.4;
   height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Raleway', sans-serif;
   color: var(--heading-color);
   margin-bottom: 15px;
   font-weight: normal;
   font-weight: 900;
   letter-spacing: -.03em;
   line-height: 1;
}
h1 {font-size: 100px;}
h2 {font-size: 85px;}
h3 {font-size: 70px;}
h4 {font-size: 40px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

p {
   margin-bottom: 15px;
   letter-spacing: 0.02em;
}

img {
   max-width: 100%;
}
a {
   text-decoration: none;
}
a,
button {
   transition: 0.3s ease;
   color: inherit;
   outline: medium none;
}

button:focus,
input:focus,
textarea:focus {
   outline: 0;
}
ul {
   margin: 0px;
   padding: 0px;
}
li {
   list-style: none;
}
hr {
   border-bottom: 1px solid var(--hr-color);
   border-top: 0 none;
   margin: 30px 0;
   padding: 0;
}
*::-moz-selection {
   background: #007acc;
   color: var(--white);
   text-shadow: none;
}
*::selection {
   background: #007acc;
   color: var(--white);
   text-shadow: none;
}
/* Input Placeholder */
*::-moz-placeholder {
   color: #a0a0a0;
   font-size: 16px;
   font-weight: 500;
   opacity: 1;
}
*::placeholder {
   color: #a0a0a0;
   font-size: 16px;
   font-weight: 500;
   opacity: 1;
}
input,
textarea {
   width: 100%;
   border: 0;
   padding: 18px 25px;
   border-radius: 4px;
   font-size: 16px;
   border: 1px solid transparent;
   transition: 0.3s ease;
}
input:focus,
textarea:focus {
   border-color: var(--theme-color);
}
.bg-attachment {
   background-color: #2b2a2a;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
.gradient-text{
   background: var(--gradient);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
/*ScrollUp CSS*/
#scrollUp {
   background: var(--theme-color) none repeat scroll 0 0;
   border-radius: 3px;
   bottom: 50px;
   cursor: pointer;
   height: 40px;
   position: fixed;
   right: 30px;
   text-align: center;
   width: 40px;
   z-index: 98 !important;
}
#scrollUp i {
   color: #fff;
   font-size: 24px;
   line-height: 38px;
}

.container {
   max-width: 1540px;
}

/* ====================================================== */

/* PRELOADER-CSS */
.preloader {
   position: fixed;
   width: 100%;
   height: 100%;
   background: #000000;
   z-index: 999999;
   display: flex;
   align-items: center;
}
.preloader .spinner {
   margin: 45px auto;
   width: 50px;
   height: 40px;
   text-align: center;
   font-size: 10px;
}
.preloader .spinner > div {
   background-color: var(--theme-color);
   height: 100%;
   width: 6px;
   border-radius: 0;
   display: inline-block;
   -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
   animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.preloader .spinner .rect2 {
   -webkit-animation-delay: -1.1s;
   animation-delay: -1.1s;
}
.preloader .spinner .rect3 {
   -webkit-animation-delay: -1s;
   animation-delay: -1s;
}
.preloader .spinner .rect4 {
   -webkit-animation-delay: -0.9s;
   animation-delay: -0.9s;
}
.preloader .spinner .rect5 {
   -webkit-animation-delay: -0.8s;
   animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
   0%,
   40%,
   100% {
      -webkit-transform: scaleY(0.4);
   }
   20% {
      -webkit-transform: scaleY(1);
   }
}

@keyframes sk-stretchdelay {
   0%,
   40%,
   100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
   }
   20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
   }
}
/* PRELOADER-CSS END */

/* header */
.header-area {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	z-index: 99;
}
 .logo img {
   max-width: 250px;
 }
 .section-content {
	position: relative;
	z-index: 1;
}
 .section-content h1,
 .section-content h2,
 .section-content h3 {
	text-transform: uppercase;
   line-height: .9;
}
 .section-content h1 span,
 .section-content h2 span,
 .section-content h3 span {
    color: var(--theme-color);
}
 .white-content h1,
 .white-content h2,
 .white-content h3 {
    color: #Fff;
}
.section-content > h5 {
	color: var(--theme-color);
	margin-bottom: 5px;
	font-weight: 700;
}
.site-btn {
	font-family: 'Raleway', sans-serif;
	color: #231E1E;
	background: #fff;
	border-radius: 4px;
	font-weight: 800;
	display: inline-block;
	padding: .8em 2.7em;
	text-align: center;
}
.site-btn.active-btn,
 .site-btn:hover {
   background: var(--theme-color);
   color: #FFF;
 }
 .hero-img {
	margin-right: -20%;
}

/* ABOUT AREA */
.about-list p {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fff;
	padding-bottom: 15px;
	margin-bottom: 0;
	border-bottom: 2px solid var(--theme-color);
}
 .about-list > .row > div:nth-last-child(1) p,
 .about-list > .row > div:nth-last-child(2) p{
   border-bottom: 0;
   padding-bottom: 0;
 }
 /* feature-area */
 .color-list h5 {
   text-transform: uppercase;
   color: #fff;
   font-family: 'Oswald', sans-serif;
   margin-bottom: 0;
   margin-right: 10px;
 }
 .color-list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-end;
 }
 .color-list ul li {
   height: 40px;
   width: 40px;
   border-radius: 3px;
   display: inline-block;
   margin: 3px;
 }

 .magic-line:after {
   content: '';
	height: 3px;
	width: 180%;
	right: 0;
	position: absolute;
   bottom: 0;
   z-index: -1;
	background: -moz-linear-gradient(left, transparent 0%, rgba(211,3,3,1) 24%, rgba(211,3,3,1) 50%, rgba(211,3,3,1) 79%, transparent 100%);
	background: -webkit-linear-gradient(left, transparent 0%,rgba(211,3,3,1) 24%,rgba(211,3,3,1) 50%,rgba(211,3,3,1) 79%,transparent 100%);
	background: linear-gradient(to right, transparent 0%,rgba(211,3,3,1) 24%,rgba(211,3,3,1) 50%,rgba(211,3,3,1) 79%,transparent 100%);
}
.magic-line {
	position: relative;
	z-index: 1;
	padding-bottom: 20px;
}
.feature-item:nth-child(2n + 1) .section-content{
   text-align: right;
}
.feature-item:nth-child(2n) > .row{
   flex-direction: row-reverse;
}    
.feature-item:nth-child(2n) .magic-line:after{
   right: auto;
   left: 0;
}  
.feature-item .feature-img{
   margin-left: 3%;
}  
.feature-item:nth-child(2n) .feature-img{
   text-align: right;
   margin-left: 0;
   margin-right: 3%;
} 
.feature-item:nth-child(2n) > .row{
   align-items: flex-end;
}  
.feature-item:nth-child(2n){
   margin-top: -8%;
}  
.size-list h5 {
   text-transform: uppercase;
   font-family: 'Oswald', sans-serif;
 }
 .size-list ul li {
   text-transform: uppercase;
   font-family: 'Oswald', sans-serif;
   font-weight: 500;
   padding: 8px 15px;
   border-radius: 4px;
   border: 2px solid var(--theme-color);
   display: inline-block;
   margin: 2px;
 }
 /* intro-area */
 .intro-content {
	height: 1080px;
	position: relative;
	z-index: 1;
}
.play-icon:hover,
.play-icon {
  height: 150px;
  width: 150px;
  display: inline-flex;
  border-radius: 50%;
  border: 4px solid var(--theme-color);
  font-size: 50px;
  color: var(--theme-color);
  align-items: center;
  justify-content: center;
}
.intro-content .play-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.video-btn {
   position: relative;
   z-index: 1;
 }
 .video-btn::before{
   content: "";
   display: inline-block;
   position: absolute;
   top: -2px;
   left: -2px;
   bottom: -2px;
   right: -2px;
   border-radius: inherit;
   background-color: var(--theme-color);
   opacity: 0.6;
   z-index: -1;
   -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both
      infinite;
   animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
   pointer-events: none;
 }
 @keyframes btnIconRipple {
   0% {
      border-width: 4px;
      -webkit-transform: scale(1);
      transform: scale(1);
   }
 
   80% {
      border-width: 1px;
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
   }
 
   100% {
      opacity: 0;
   }
 }

 
 /* category */
.category-list h4 {
   font-weight: 500;
   text-transform: uppercase;
   color: #fff;
   font-family: 'Oswald', sans-serif;
   font-size: 32px;
   margin-bottom: 30px;
 }
 .category-list ul li {
   font-weight: 500;
   font-size: 20px;
   color: #fff;
   margin-bottom: 10px;
   position: relative;
   padding-left: 20px;
 }
 .category-list ul li:after {
   position: absolute;
   left: 0;
   top: 10px;
   height: 10px;
   width: 10px;
   border: 1px solid #fff;
   border-radius: 50%;
   content: '';
 }
 
.category-list.magic-line:after {
   width: 150%;
   top: 50%;
   transform: rotate(90deg) translate(50%, 0%);
   transform-origin: 100% 100%;
 }
 .category-list {
   padding: 0 50px;
 }
 
.category-btns {
   background: #000000;
   border-radius: 100px;
   padding: 5px;
   display: inline-block;
 }
 .category-btn {
   font-size: 16px;
   text-transform: uppercase;
   display: inline-block;
   padding: 15px 20px;
   color: #fff;
   cursor: pointer;
   transition: .3s ease;
   border-radius: inherit;
 }
 .category-btn:hover {
   color: var(--theme-color);
 }
 .category-btn.active {
   background: var(--gradient);
   color: #fff;
 }
 .category-tab{
   display: none;
   animation: fadeEffect 1s ease
 }
 .category-tab.active{
   display: block;
 }

 @keyframes fadeEffect{
   0%{opacity: 0;}
   100%{opacity: 1;}
 }


 /* INFO AREA */
 .info-area .section-content {
    padding: 40px 20px;
 }
 .info-area .section-content:after {
   position: absolute;
   bottom: 0;
   right: 100%;
   width: 10px;
   height: 100px;
   background: #FF0000;
   content: '';
   clip-path: polygon(0 3%, 100% 0, 100% 0%, 0 100%);
 }
 .info-area .section-content::before {
	position: absolute;
	bottom: 0;
	left: -10px;
	width: 40%;
	height: 8px;
	background: #FF0000;
	content: '';
	clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
	transform: rotate(9deg);
	transform-origin: 0 0;
}
.info-img-2 {
	margin-top: -30%;
}
.info-img-3 {
	margin-left: -20%;
}
/* design-content */
.design-content .site-btn{
   width: 100%;
}
.design-wheel{
   margin-right: -15%;
   position: relative;
   z-index: 2;
}
.design-wheel img {
	width: 100%;
}

/* detail */
.detail-img{
   margin-left: -5%;
}
.text-link {
   font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   font-weight: 700;
 }
 .text-link i {
   margin-left: 5px;
 }

 /* forging-img */
 .forging-img img:nth-child(2){
    transform: translate(15%);
 }
 .forging-content{
    position: relative;
    z-index: 1;
 }
 .multi-magic-line {
	position: absolute;
	left: 17%;
	top: 49%;
	z-index: -1;
	transform: rotate(-8deg);
	transform-origin: 0 0;
}
.multi-magic-line span {
	display: block;
	width: 300px;
	height: 4px;
	background: -moz-linear-gradient(left, #FF0000 0%, transparent 100%);
	background: -webkit-linear-gradient(left, #FF0000 0%,transparent 100%);
	background: linear-gradient(to right, #FF0000 0%,transparent 100%);
	border-radius: 5px;
}
.multi-magic-line span:nth-child(2) {
	transform: rotate(115deg);
	transform-origin: 100% 100%;
}
.multi-magic-line span:nth-child(3) {
	transform: rotate(-105deg);
	transform-origin: 100% 0%;
}
/* footer */
.social-links ul li{
   display: inline-block;
}
.social-links ul li a{
   background: rgba(34, 34, 34,.5);
   background: -moz-linear-gradient(left,  transparent 0%, rgba(34, 34, 34,.5) 22%, rgba(34, 34, 34,.5) 50%, rgba(34, 34, 34,.5) 75%, transparent 100%);
   background: -webkit-linear-gradient(left,  transparent 0%,rgba(34, 34, 34,.5) 22%,rgba(34, 34, 34,.5) 50%,rgba(34, 34, 34,.5) 75%,transparent 100%);
   background: linear-gradient(to right,  transparent 0%,rgba(34, 34, 34,.5) 22%,rgba(34, 34, 34,.5) 50%,rgba(34, 34, 34,.5) 75%,transparent 100%);
   display: block;
   width: 130px;
   height: 60px;
   line-height: 60px;
   text-align: center;
   font-size: 20px;
   color: #fff;
}
.social-links ul li a:hover {
	color: var(--theme-color);
}
.footer-area{
   position: relative;
   z-index: 1;
}
.footer-area:before,
.footer-area:after{
   position: absolute;
   left: 0;
   top: 0;
   height: 5px;
   width: 80%;
   content: '';
   background: -moz-linear-gradient(left, #FF0000 0%, transparent 100%);
	background: -webkit-linear-gradient(left, #FF0000 0%,transparent 100%);
	background: linear-gradient(to right, #FF0000 0%,transparent 100%);
}
.footer-area:after{
   left: auto;
   top: auto;
   right: 0;
   bottom: 0;
   background: -moz-linear-gradient(right, #FF0000 0%, transparent 100%);
	background: -webkit-linear-gradient(right, #FF0000 0%,transparent 100%);
	background: linear-gradient(to left, #FF0000 0%,transparent 100%);
}